<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ChainLowerleft_00112_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00001</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00002</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00003</key>
		<dict>
			<key>frame</key>
			<string>{{365,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00004</key>
		<dict>
			<key>frame</key>
			<string>{{365,111},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00005</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00006</key>
		<dict>
			<key>frame</key>
			<string>{{123,111},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00007</key>
		<dict>
			<key>frame</key>
			<string>{{244,111},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00008</key>
		<dict>
			<key>frame</key>
			<string>{{244,220},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00009</key>
		<dict>
			<key>frame</key>
			<string>{{365,220},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00010</key>
		<dict>
			<key>frame</key>
			<string>{{365,329},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00011</key>
		<dict>
			<key>frame</key>
			<string>{{2,220},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00012</key>
		<dict>
			<key>frame</key>
			<string>{{123,220},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00013</key>
		<dict>
			<key>frame</key>
			<string>{{123,329},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00014</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00015</key>
		<dict>
			<key>frame</key>
			<string>{{2,438},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00016</key>
		<dict>
			<key>frame</key>
			<string>{{244,329},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00017</key>
		<dict>
			<key>frame</key>
			<string>{{244,438},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00018</key>
		<dict>
			<key>frame</key>
			<string>{{123,438},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00019</key>
		<dict>
			<key>frame</key>
			<string>{{123,547},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00020</key>
		<dict>
			<key>frame</key>
			<string>{{2,547},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00021</key>
		<dict>
			<key>frame</key>
			<string>{{2,656},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00022</key>
		<dict>
			<key>frame</key>
			<string>{{365,438},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00023</key>
		<dict>
			<key>frame</key>
			<string>{{365,547},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00024</key>
		<dict>
			<key>frame</key>
			<string>{{244,547},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00025</key>
		<dict>
			<key>frame</key>
			<string>{{244,656},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00026</key>
		<dict>
			<key>frame</key>
			<string>{{123,656},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00027</key>
		<dict>
			<key>frame</key>
			<string>{{123,765},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00028</key>
		<dict>
			<key>frame</key>
			<string>{{2,765},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00029</key>
		<dict>
			<key>frame</key>
			<string>{{2,874},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00030</key>
		<dict>
			<key>frame</key>
			<string>{{365,656},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00031</key>
		<dict>
			<key>frame</key>
			<string>{{365,765},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00032</key>
		<dict>
			<key>frame</key>
			<string>{{244,765},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00033</key>
		<dict>
			<key>frame</key>
			<string>{{244,874},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00034</key>
		<dict>
			<key>frame</key>
			<string>{{123,874},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00035</key>
		<dict>
			<key>frame</key>
			<string>{{365,874},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00036</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00037</key>
		<dict>
			<key>frame</key>
			<string>{{607,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00038</key>
		<dict>
			<key>frame</key>
			<string>{{728,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>ChainLowerleft_00112_00039</key>
		<dict>
			<key>frame</key>
			<string>{{849,2},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChainLowerleft_00112</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>ChainLowerleft_00112</string>
	</dict>
</dict>
</plist>
