<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134232879_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,464},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,926},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,1388},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_004</key>
		<dict>
			<key>frame</key>
			<string>{{364,1388},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_005</key>
		<dict>
			<key>frame</key>
			<string>{{726,2},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_006</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_007</key>
		<dict>
			<key>frame</key>
			<string>{{1188,2},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_008</key>
		<dict>
			<key>frame</key>
			<string>{{1650,2},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_009</key>
		<dict>
			<key>frame</key>
			<string>{{364,464},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_010</key>
		<dict>
			<key>frame</key>
			<string>{{364,926},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_011</key>
		<dict>
			<key>frame</key>
			<string>{{726,926},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_012</key>
		<dict>
			<key>frame</key>
			<string>{{726,464},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_013</key>
		<dict>
			<key>frame</key>
			<string>{{1088,464},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
		<key>134232879_014</key>
		<dict>
			<key>frame</key>
			<string>{{1450,464},{460,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,360}}</string>
			<key>sourceSize</key>
			<string>{460,360}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134232879</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>custom_ui/134232879</string>
	</dict>
</dict>
</plist>
