<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134230459_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_001</key>
		<dict>
			<key>frame</key>
			<string>{{2,44},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_002</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_003</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_004</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_005</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_006</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_007</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_008</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_009</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_010</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_011</key>
		<dict>
			<key>frame</key>
			<string>{{2,464},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_012</key>
		<dict>
			<key>frame</key>
			<string>{{43,464},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_013</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_014</key>
		<dict>
			<key>frame</key>
			<string>{{43,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_015</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_016</key>
		<dict>
			<key>frame</key>
			<string>{{168,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_017</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_018</key>
		<dict>
			<key>frame</key>
			<string>{{252,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_019</key>
		<dict>
			<key>frame</key>
			<string>{{294,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_020</key>
		<dict>
			<key>frame</key>
			<string>{{336,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_021</key>
		<dict>
			<key>frame</key>
			<string>{{378,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_022</key>
		<dict>
			<key>frame</key>
			<string>{{420,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_023</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_024</key>
		<dict>
			<key>frame</key>
			<string>{{462,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_025</key>
		<dict>
			<key>frame</key>
			<string>{{84,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_026</key>
		<dict>
			<key>frame</key>
			<string>{{43,44},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_027</key>
		<dict>
			<key>frame</key>
			<string>{{126,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_028</key>
		<dict>
			<key>frame</key>
			<string>{{168,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_029</key>
		<dict>
			<key>frame</key>
			<string>{{210,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_030</key>
		<dict>
			<key>frame</key>
			<string>{{252,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_031</key>
		<dict>
			<key>frame</key>
			<string>{{294,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_032</key>
		<dict>
			<key>frame</key>
			<string>{{336,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_033</key>
		<dict>
			<key>frame</key>
			<string>{{378,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_034</key>
		<dict>
			<key>frame</key>
			<string>{{420,43},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_035</key>
		<dict>
			<key>frame</key>
			<string>{{420,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_036</key>
		<dict>
			<key>frame</key>
			<string>{{462,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_037</key>
		<dict>
			<key>frame</key>
			<string>{{462,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_038</key>
		<dict>
			<key>frame</key>
			<string>{{43,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_039</key>
		<dict>
			<key>frame</key>
			<string>{{43,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_040</key>
		<dict>
			<key>frame</key>
			<string>{{84,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_041</key>
		<dict>
			<key>frame</key>
			<string>{{43,208},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_042</key>
		<dict>
			<key>frame</key>
			<string>{{43,250},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_043</key>
		<dict>
			<key>frame</key>
			<string>{{43,292},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_044</key>
		<dict>
			<key>frame</key>
			<string>{{43,334},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_045</key>
		<dict>
			<key>frame</key>
			<string>{{43,376},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_046</key>
		<dict>
			<key>frame</key>
			<string>{{43,418},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_047</key>
		<dict>
			<key>frame</key>
			<string>{{84,418},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_048</key>
		<dict>
			<key>frame</key>
			<string>{{84,460},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_049</key>
		<dict>
			<key>frame</key>
			<string>{{125,460},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_050</key>
		<dict>
			<key>frame</key>
			<string>{{84,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_051</key>
		<dict>
			<key>frame</key>
			<string>{{85,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_052</key>
		<dict>
			<key>frame</key>
			<string>{{126,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_053</key>
		<dict>
			<key>frame</key>
			<string>{{84,208},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_054</key>
		<dict>
			<key>frame</key>
			<string>{{84,250},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_055</key>
		<dict>
			<key>frame</key>
			<string>{{84,292},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_056</key>
		<dict>
			<key>frame</key>
			<string>{{84,334},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_057</key>
		<dict>
			<key>frame</key>
			<string>{{84,376},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_058</key>
		<dict>
			<key>frame</key>
			<string>{{125,376},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_059</key>
		<dict>
			<key>frame</key>
			<string>{{125,418},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_060</key>
		<dict>
			<key>frame</key>
			<string>{{166,418},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_061</key>
		<dict>
			<key>frame</key>
			<string>{{166,460},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_062</key>
		<dict>
			<key>frame</key>
			<string>{{207,460},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_063</key>
		<dict>
			<key>frame</key>
			<string>{{248,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_064</key>
		<dict>
			<key>frame</key>
			<string>{{207,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_065</key>
		<dict>
			<key>frame</key>
			<string>{{166,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_066</key>
		<dict>
			<key>frame</key>
			<string>{{125,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_067</key>
		<dict>
			<key>frame</key>
			<string>{{290,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_068</key>
		<dict>
			<key>frame</key>
			<string>{{332,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_069</key>
		<dict>
			<key>frame</key>
			<string>{{374,84},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_070</key>
		<dict>
			<key>frame</key>
			<string>{{374,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_071</key>
		<dict>
			<key>frame</key>
			<string>{{416,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_072</key>
		<dict>
			<key>frame</key>
			<string>{{416,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_073</key>
		<dict>
			<key>frame</key>
			<string>{{458,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_074</key>
		<dict>
			<key>frame</key>
			<string>{{458,207},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_075</key>
		<dict>
			<key>frame</key>
			<string>{{248,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_076</key>
		<dict>
			<key>frame</key>
			<string>{{207,126},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_077</key>
		<dict>
			<key>frame</key>
			<string>{{166,167},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_078</key>
		<dict>
			<key>frame</key>
			<string>{{125,208},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_079</key>
		<dict>
			<key>frame</key>
			<string>{{290,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_080</key>
		<dict>
			<key>frame</key>
			<string>{{332,125},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_081</key>
		<dict>
			<key>frame</key>
			<string>{{332,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_082</key>
		<dict>
			<key>frame</key>
			<string>{{374,166},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_083</key>
		<dict>
			<key>frame</key>
			<string>{{374,207},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_084</key>
		<dict>
			<key>frame</key>
			<string>{{416,207},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_085</key>
		<dict>
			<key>frame</key>
			<string>{{416,248},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_086</key>
		<dict>
			<key>frame</key>
			<string>{{458,248},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_087</key>
		<dict>
			<key>frame</key>
			<string>{{458,289},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_088</key>
		<dict>
			<key>frame</key>
			<string>{{125,330},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>134230459_089</key>
		<dict>
			<key>frame</key>
			<string>{{125,289},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134230459</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>custom_ui/134230459</string>
	</dict>
</dict>
</plist>
