<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134243626_000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_001</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_002</key>
		<dict>
			<key>frame</key>
			<string>{{206,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_003</key>
		<dict>
			<key>frame</key>
			<string>{{308,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_004</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_005</key>
		<dict>
			<key>frame</key>
			<string>{{512,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_006</key>
		<dict>
			<key>frame</key>
			<string>{{614,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_007</key>
		<dict>
			<key>frame</key>
			<string>{{716,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_008</key>
		<dict>
			<key>frame</key>
			<string>{{818,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_009</key>
		<dict>
			<key>frame</key>
			<string>{{920,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_010</key>
		<dict>
			<key>frame</key>
			<string>{{920,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_011</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_012</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_013</key>
		<dict>
			<key>frame</key>
			<string>{{104,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_014</key>
		<dict>
			<key>frame</key>
			<string>{{206,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_015</key>
		<dict>
			<key>frame</key>
			<string>{{308,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_016</key>
		<dict>
			<key>frame</key>
			<string>{{410,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_017</key>
		<dict>
			<key>frame</key>
			<string>{{512,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_018</key>
		<dict>
			<key>frame</key>
			<string>{{614,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_019</key>
		<dict>
			<key>frame</key>
			<string>{{716,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_020</key>
		<dict>
			<key>frame</key>
			<string>{{818,104},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_021</key>
		<dict>
			<key>frame</key>
			<string>{{818,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_022</key>
		<dict>
			<key>frame</key>
			<string>{{920,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_023</key>
		<dict>
			<key>frame</key>
			<string>{{920,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_024</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_025</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_026</key>
		<dict>
			<key>frame</key>
			<string>{{104,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_027</key>
		<dict>
			<key>frame</key>
			<string>{{104,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_028</key>
		<dict>
			<key>frame</key>
			<string>{{206,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_029</key>
		<dict>
			<key>frame</key>
			<string>{{308,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_030</key>
		<dict>
			<key>frame</key>
			<string>{{410,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_031</key>
		<dict>
			<key>frame</key>
			<string>{{512,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_032</key>
		<dict>
			<key>frame</key>
			<string>{{614,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_033</key>
		<dict>
			<key>frame</key>
			<string>{{716,206},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_034</key>
		<dict>
			<key>frame</key>
			<string>{{716,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_035</key>
		<dict>
			<key>frame</key>
			<string>{{818,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_036</key>
		<dict>
			<key>frame</key>
			<string>{{818,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_037</key>
		<dict>
			<key>frame</key>
			<string>{{920,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_038</key>
		<dict>
			<key>frame</key>
			<string>{{920,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_039</key>
		<dict>
			<key>frame</key>
			<string>{{2,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_040</key>
		<dict>
			<key>frame</key>
			<string>{{2,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_041</key>
		<dict>
			<key>frame</key>
			<string>{{104,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_042</key>
		<dict>
			<key>frame</key>
			<string>{{104,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_043</key>
		<dict>
			<key>frame</key>
			<string>{{206,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_044</key>
		<dict>
			<key>frame</key>
			<string>{{206,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_045</key>
		<dict>
			<key>frame</key>
			<string>{{308,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_046</key>
		<dict>
			<key>frame</key>
			<string>{{410,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_047</key>
		<dict>
			<key>frame</key>
			<string>{{512,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_048</key>
		<dict>
			<key>frame</key>
			<string>{{614,308},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_049</key>
		<dict>
			<key>frame</key>
			<string>{{614,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_050</key>
		<dict>
			<key>frame</key>
			<string>{{716,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_051</key>
		<dict>
			<key>frame</key>
			<string>{{716,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_052</key>
		<dict>
			<key>frame</key>
			<string>{{818,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_053</key>
		<dict>
			<key>frame</key>
			<string>{{818,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_054</key>
		<dict>
			<key>frame</key>
			<string>{{920,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_055</key>
		<dict>
			<key>frame</key>
			<string>{{920,716},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_056</key>
		<dict>
			<key>frame</key>
			<string>{{2,818},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_057</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_058</key>
		<dict>
			<key>frame</key>
			<string>{{104,716},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_059</key>
		<dict>
			<key>frame</key>
			<string>{{104,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_060</key>
		<dict>
			<key>frame</key>
			<string>{{206,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_061</key>
		<dict>
			<key>frame</key>
			<string>{{206,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_062</key>
		<dict>
			<key>frame</key>
			<string>{{308,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_063</key>
		<dict>
			<key>frame</key>
			<string>{{308,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_064</key>
		<dict>
			<key>frame</key>
			<string>{{410,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_065</key>
		<dict>
			<key>frame</key>
			<string>{{512,410},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_066</key>
		<dict>
			<key>frame</key>
			<string>{{512,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_067</key>
		<dict>
			<key>frame</key>
			<string>{{410,512},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_068</key>
		<dict>
			<key>frame</key>
			<string>{{410,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_069</key>
		<dict>
			<key>frame</key>
			<string>{{308,614},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_070</key>
		<dict>
			<key>frame</key>
			<string>{{308,716},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_071</key>
		<dict>
			<key>frame</key>
			<string>{{206,716},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_072</key>
		<dict>
			<key>frame</key>
			<string>{{206,818},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_073</key>
		<dict>
			<key>frame</key>
			<string>{{104,818},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_074</key>
		<dict>
			<key>frame</key>
			<string>{{104,920},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_075</key>
		<dict>
			<key>frame</key>
			<string>{{206,920},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_076</key>
		<dict>
			<key>frame</key>
			<string>{{308,920},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_077</key>
		<dict>
			<key>frame</key>
			<string>{{308,818},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_078</key>
		<dict>
			<key>frame</key>
			<string>{{410,818},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>134243626_079</key>
		<dict>
			<key>frame</key>
			<string>{{410,920},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>134243626</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>custom_ui/134243626</string>
	</dict>
</dict>
</plist>
