<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>134219477.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,44},{41,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,48}}</string>
			<key>sourceSize</key>
			<string>{41,48}</string>
		</dict>
		<key>134223101.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,211},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>134225257.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,247},{4,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,10}}</string>
			<key>sourceSize</key>
			<string>{4,10}</string>
		</dict>
		<key>134225276.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,2},{149,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,7}}</string>
			<key>sourceSize</key>
			<string>{149,7}</string>
		</dict>
		<key>134229310.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,167},{78,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,12}}</string>
			<key>sourceSize</key>
			<string>{78,12}</string>
		</dict>
		<key>134230994.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,167},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134232347.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,167},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>134242215.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,167},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>134244524.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134245407.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{210,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,80}}</string>
			<key>sourceSize</key>
			<string>{210,80}</string>
		</dict>
		<key>134247097.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,154},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134251414.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,214},{163,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,27}}</string>
			<key>sourceSize</key>
			<string>{163,27}</string>
		</dict>
		<key>134256021.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,219},{31,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,36}}</string>
			<key>sourceSize</key>
			<string>{31,36}</string>
		</dict>
		<key>134260097.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,2},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134261446.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,2},{149,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,7}}</string>
			<key>sourceSize</key>
			<string>{149,7}</string>
		</dict>
		<key>134262882.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,180},{52,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,12}}</string>
			<key>sourceSize</key>
			<string>{52,12}</string>
		</dict>
		<key>134265891.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,2},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>134269694.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,2},{153,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,71}}</string>
			<key>sourceSize</key>
			<string>{153,71}</string>
		</dict>
		<key>134270676.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{40,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,50}}</string>
			<key>sourceSize</key>
			<string>{40,50}</string>
		</dict>
		<key>134270720.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134273579.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,180},{95,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,29}}</string>
			<key>sourceSize</key>
			<string>{95,29}</string>
		</dict>
		<key>134274734.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,167},{69,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,29}}</string>
			<key>sourceSize</key>
			<string>{69,29}</string>
		</dict>
		<key>134277759.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,2},{150,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,11}}</string>
			<key>sourceSize</key>
			<string>{150,11}</string>
		</dict>
		<key>134280203.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{163,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,39}}</string>
			<key>sourceSize</key>
			<string>{163,39}</string>
		</dict>
		<key>RL_Blood-bar_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{116,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,8}}</string>
			<key>sourceSize</key>
			<string>{116,8}</string>
		</dict>
		<key>kongbai.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,211},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ss_independ_billboard_batch_ui_project_tatata0.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>ss_independ_billboard_batch_ui_project_tatata0.png</string>
	</dict>
</dict>
</plist>
