<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ChainTopright_00154_00000</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00001</key>
		<dict>
			<key>frame</key>
			<string>{{2,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00002</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00003</key>
		<dict>
			<key>frame</key>
			<string>{{2,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00004</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00005</key>
		<dict>
			<key>frame</key>
			<string>{{77,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00006</key>
		<dict>
			<key>frame</key>
			<string>{{77,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00007</key>
		<dict>
			<key>frame</key>
			<string>{{77,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00008</key>
		<dict>
			<key>frame</key>
			<string>{{77,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00009</key>
		<dict>
			<key>frame</key>
			<string>{{107,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00010</key>
		<dict>
			<key>frame</key>
			<string>{{152,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00011</key>
		<dict>
			<key>frame</key>
			<string>{{152,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00012</key>
		<dict>
			<key>frame</key>
			<string>{{152,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00013</key>
		<dict>
			<key>frame</key>
			<string>{{152,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00014</key>
		<dict>
			<key>frame</key>
			<string>{{212,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00015</key>
		<dict>
			<key>frame</key>
			<string>{{227,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00016</key>
		<dict>
			<key>frame</key>
			<string>{{227,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00017</key>
		<dict>
			<key>frame</key>
			<string>{{227,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00018</key>
		<dict>
			<key>frame</key>
			<string>{{227,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00019</key>
		<dict>
			<key>frame</key>
			<string>{{302,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00020</key>
		<dict>
			<key>frame</key>
			<string>{{317,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00021</key>
		<dict>
			<key>frame</key>
			<string>{{302,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00022</key>
		<dict>
			<key>frame</key>
			<string>{{302,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00023</key>
		<dict>
			<key>frame</key>
			<string>{{302,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00024</key>
		<dict>
			<key>frame</key>
			<string>{{377,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00025</key>
		<dict>
			<key>frame</key>
			<string>{{377,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00026</key>
		<dict>
			<key>frame</key>
			<string>{{422,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00027</key>
		<dict>
			<key>frame</key>
			<string>{{377,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00028</key>
		<dict>
			<key>frame</key>
			<string>{{377,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00029</key>
		<dict>
			<key>frame</key>
			<string>{{452,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00030</key>
		<dict>
			<key>frame</key>
			<string>{{452,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00031</key>
		<dict>
			<key>frame</key>
			<string>{{527,2},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00032</key>
		<dict>
			<key>frame</key>
			<string>{{452,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00033</key>
		<dict>
			<key>frame</key>
			<string>{{452,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00034</key>
		<dict>
			<key>frame</key>
			<string>{{527,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00035</key>
		<dict>
			<key>frame</key>
			<string>{{527,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00036</key>
		<dict>
			<key>frame</key>
			<string>{{527,107},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00037</key>
		<dict>
			<key>frame</key>
			<string>{{527,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00038</key>
		<dict>
			<key>frame</key>
			<string>{{602,212},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00039</key>
		<dict>
			<key>frame</key>
			<string>{{602,317},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>ChainTopright_00154_00040</key>
		<dict>
			<key>frame</key>
			<string>{{632,422},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChainTopright_00154</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>ChainTopright_00154</string>
	</dict>
</dict>
</plist>
